.navbar {
    display: flex;
    place-items: center;
    flex-direction: row;
    min-width: 80vw;
    max-width: 80vw;
    color: rgb(20, 26, 77);
    background-color: #e48b8b;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3) inset,
    0 4px 5px 0 rgba(0, 0, 0, 0.57);
}

.link {
    display: flex;
    margin: 10px;
    text-decoration: none;
}
