.navbar {
    display: flex;
    place-items: center;
    flex-direction: row;
    min-width: 80vw;
    max-width: 80vw;
    color: rgb(20, 26, 77);
    background-color: #e48b8b;
}

.link {
    display: flex;
    margin: 10px;
    text-decoration: none;
}
