.container {
    display: flex;
    background: #e48b8b;
}

.button {
    display: flex;
    cursor: pointer;
    background-color: aliceblue;
    padding: 7px 5px;
    margin: 5px;
    border-radius: 5%;
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.3) inset,
        0 2px 3px 0 rgba(0, 0, 0, 0.57);
}

.p {
    display: flex;
    color: rgb(20, 26, 77);
}

.spinner {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px dashed rgb(20, 26, 77);
    margin-left: 5px;
}

.rotateScaleUp {
    animation: rotateScaleUp 0.65s ease-out both;
}

@keyframes rotateScaleUp {
    0% {
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(1.5) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
}
