.table {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: rgb(20, 26, 77);
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.3) inset,
                0 4px 5px 0 rgba(0, 0, 0, 0.57);
    min-width: 50vw;
}

.ul {
    display: flex;
    flex-wrap: wrap-reverse;
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}