*, *::after, *::before {
  border: 0;
  margin: 0;
}

body {
  display: flex;
  place-items: center;
  background-image: radial-gradient(50% 99%, #25274a 10%, #333666 99%);
}

#root {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  flex-wrap: wrap-reverse;
  list-style-type: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}